<main>
  <ul>
    <% @users.each do |user|%>
      <%= link_to user do %>
        <li>
          <div></div>
          <div>
            <h1><%= user.name %></h1>
            <p>Number of posts: <%= user.posts_counter %></p>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</main>
