<main>
  <section>
    <div class="posts">
      <h2><%= @post.title %></h2>
      <p><%= @post.text %></p>
    </div>
    <div>
      <ul class="comment">
        <% @post.comments.each do |comment| %>
          <p><%= comment.author.name %>: <%= comment.text %></p>
        <% end %>
      </ul>
    </div>
  </section>
</main>
